@import "../base/variable/global";
@import "weui-font";

[class^="#{$weui_ns}icon_"]:before, [class*=" #{$weui_ns}icon_"]:before {
    margin: 0;
}

.#{$weui_ns}icon_success:before {
    font-size: 23px;
    color: #09BB07;
}
.#{$weui_ns}icon_waiting:before {
    font-size: 23px;
    color: #10AEFF;
}
.#{$weui_ns}icon_warn:before {
    font-size: 23px;
    color: #F43530;
}
.#{$weui_ns}icon_info:before {
    font-size: 23px;
    color: #10AEFF;
}

.#{$weui_ns}icon_success_circle:before {
    font-size: 23px;
    color: #09BB07;
}
.#{$weui_ns}icon_success_no_circle:before {
    font-size: 23px;
    color: #09BB07;
}
.#{$weui_ns}icon_waiting_circle:before {
    font-size: 23px;
    color: #10AEFF;
}
.#{$weui_ns}icon_circle:before {
    font-size: 23px;
    color: #C9C9C9;
}
.#{$weui_ns}icon_download:before {
    font-size: 23px;
    color: #09BB07;
}

.#{$weui_ns}icon_info_circle:before {
    font-size: 23px;
    color: #09BB07;
}

.#{$weui_ns}icon_safe_success:before {
    color: #09BB07;
}
.#{$weui_ns}icon_safe_warn:before {
    color: #FFBE00;
}

.#{$weui_ns}icon_cancel:before {
    color: #F43530;
    font-size: 22px;
}

.#{$weui_ns}icon_search:before {
    color: #B2B2B2;
    font-size: 14px;
}

.#{$weui_ns}icon_clear:before {
    color: #B2B2B2;
    font-size: 14px;
}

.#{$weui_ns}icon_delete:before {
    .#{$weui_ns}icon_gallery_delete & {
        color:#FFFFFF;
        font-size:22px;
    }
}

.#{$weui_ns}icon_msg:before {
    font-size: 104px;
    .#{$weui_ns}icon_warn & {
        color: #F76260;
    }
}
.#{$weui_ns}icon_msg_primary:before {
    font-size: 104px;
    .#{$weui_ns}icon_warn & {
        color: #C9C9C9;
    }
}

.#{$weui_ns}icon_safe:before {
    font-size: 95px;
}
