/**** Layout ****/
$l_sidebar_width_normal: 230px;
$l_sidebar_width_collapse: 60px;
$l_sidebar_breakpoint:1024px;


/**** Theme ****/
$t_border_color: #e5e5e5;
$t_border_color_focus: #3aabf0;
$t_table_border_color: #f0f0f0;
$bg_side_bar_light: #888888;
$bg_side_bar: #777777;
$bg_side_bar_hover: #666666;
$bg_app_main: #eaebec;
$color_side_bar: #ccc;
$color_side_bar_light: #fff;

$f_size: 14px;
$f_color: #333;
$f_link_color:#3084bb;

